<form action="/documents" method="post">
  <h1>Create a Document</h1>
  <ul>
    <li>
<!--       TODO: author should have default value
      of person signed in. -->
      <input name="article_author" id="author" type="text" placeholder="Author"/>
    </li>
    <li>
      <input name="article_title" id="title" type="text" placeholder="Title"/>
    </li>
    <br>
    <li>
      <label for="text">Text:</label><br>
      <textarea name="article_text" id="text" multiline wrap=soft> </textarea>
    </li>
  </ul>
  <input type="submit" value="Submit">
</form>
