<form action="/documents/<%=params["id"]%>" method="post" >
    <h1>Edit Document</h1>
      <ul>
        <li>
        <!--       TODO: author should have default value
              of person signed in. -->
            <input type="text" name="title" value="<%= @document["title"] %>" id="new_title">
        </li>
        <li>
            <input type="text" name="author" value="<%= @document["author"] %>" id="new_author">
        </li>
        <br>
        <li>
            <textarea type="text"  name="article_text" id="text" multiline wrap=soft  ><%= @document["text"] %>"
            </textarea>
        </li>
      </ul>
    <input for="edit" type="hidden" name="_method" value="put">
    <button id="edit" type="submit">Update</button>
</form>
