<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>WikiTikiTakaTuku</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <a href="/">
    <header>WikiTikiTakaTuku</header>
  </a>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href='documents/new'>Create a Document</a>
        </li>
        <li>
          <a href="/documents?index_start=0">Look at Documents</a>
        </li>
        <li>
          <% if session[:access_token] %>
            <a href="/logout">Logout</a>
          <% else %>
            <a id="sign_in" href="<%= @url %>">Login with Google</a>
          <% end %>
        </li>
      </ul>
    </nav>
    <div>
      <%= yield %>
    </div>
  </body>

  <footer>
    <h6>@ Michael Coniaris Awesomeness</h6>
  </footer>
</html>
